    * {
    padding:0px;
    margin: 0px;

    }

    #container {
        height: 100%;
    }


 #content {

        padding:10px;
        padding-bottom:15px;    /* Height of the footer */


/*
       margin-top: 0px;
       margin-left: 10px;
       margin-right: 10px;
*/
       width:800px;
       float:left;


      font-family: Lucida Grande, Verdana, Sans-serif;
      font-size: 14px;
      color: #4F5155;
  }

   .important {
   background: #FBE6F2;
   border: 1px solid #D893A1;
   color: #333;
   padding: 10px;
  }

  .important p {
   font-family: Lucida Grande, Verdana, Sans-serif;
   font-size: 14px;
   margin: 6px 0 8px 0;
   padding: 0;
  }

   .important div {
   margin: 6px 0 8px 0;
   padding: 0;
  }



  #content h1 {
      color: #444;
      background-color: transparent;
      border-bottom: 1px solid #D0D0D0;
      font-size: 16px;
      font-weight: bold;
      margin: 24px 0 2px 0;
      padding: 5px 0 6px 0;
  }

  #content code {
      font-family: Monaco, Verdana, Sans-serif;
      font-size: 12px;
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      color: #002166;
      display: block;
      margin: 14px 0 14px 0;
      padding: 12px 10px 12px 10px;
  }


  #content p {
  margin:1em;
  line-height:160%;
  }

  #content .main_list {
  /*
      background:url('..//v_light_gray.png') ;
      background-repeat: repeat-x;
*/
      background-color: #eee;


      border:1px dotted;
      font-size:12px;
      line-height:150%;
      margin:10px 10px 0px 20px;
      padding:1em;

      width:800px;

 }


/* SITEWIDE HEADER */

  #header {

    float:left;
    width: 100%;
    height: 15px;

    margin-top: 10px;


  }

  #header p{
     text-align: right;
     font-family: Lucida Grande, Verdana, Sans-serif;
     font-size: 14px;
     color:#A07207;
     /*
        very nice greenish: #75930a;
        brownish: #A07207
     */
     margin-right: 10px;
  }
   #header a{
     text-align: right;
     font-family: Lucida Grande, Verdana, Sans-serif;
     font-size: 14px;
     font-weight: bold;
     color:#A07207;
     /*
        very nice greenish: #75930a;
        brownish: #A07207
     */
     margin-right: 10px;
  }

   #header .asterisk {
    background: url("../img/toolicons/asterisk_orange.png") no-repeat right;

    height: 16px;
    width:16px;


    vertical-align: top;
    /* lifts the image a bit, pushes it to the right*/
    padding-right: 20px;
    padding-top: 10px;

    }
    #header .asterisk:hover {
        background: url("../img/toolicons/asterisk_yellow.png") no-repeat right;

    }

       #header .cog {
    background: url("../img/toolicons/cog.png") no-repeat right;

    height: 16px;
    width:16px;


    vertical-align: top;
    /* lifts the image a bit, pushes it to the right*/
    padding-right: 20px;
    padding-top: 10px;

    }




/* FOOTER */

    #footer {

     position: absolute;
                    bottom: 0;
                    height: 15px;


    }

    #footer  p{
         text-align: center;
         font-family: Lucida Grande, Verdana, Sans-serif;
         font-size: 10px;
      }


    #superfooter {

    float:left;
    width: 100%;
    height: 15px;

    z-index: 1; position: relative; right: 10px; bottom: 10px; top:10px;

  }

  #superfooter p{
     text-align: center;
     font-family: Lucida Grande, Verdana, Sans-serif;
     font-size: 10px;
  }


/*  LINKS STYLE*/

 a {
  color: #003399;
  background-color: transparent;
  font-weight: normal;
  text-decoration: none;
  }


  a, a:link {
  border-color:#9bc30d;
  color:#75930a;
  }
  a:visited{
  border-color:#ddd;
  color:#9bc30d;
  }
  a:hover{
  border-color:#627b08;
  color:#b6b219;
  }


  div.clear{
    clear:both;
  }



  /* BUTTONS*/

    .button_large{
           margin-top: 5px;
            width: 150px;
            height: 21px;
            display: block;
            font: 13px/21px tahoma;
            font-weight: bold;
            color: #474646;
            text-decoration: none;
            text-align: center;
            background: url("../img/toolicons/button_hover_large.gif") no-repeat;
 }

  .button_small{
             margin-top: 5px;
            width: 70px;
            height: 21px;
            display: block;
            font: 11px/21px tahoma;
            color: #474646;
            text-decoration: none;
            text-align: center;
            background: url("../img/toolicons/button_hover.gif") no-repeat;
 }


 #question {
     width: 24px;
            height: 24px;

            background: url("../img/toolicons/24-comment-square-question.png") no-repeat ;
            display:inline-block;
 }

 /***************/




 



 .jsvalidation {
 
   background-image: url("../img/toolicons/left.png") ;
    background-repeat: no-repeat;
    
    width: 18px;
    height: 18px;
     
    position: relative;   
   padding-right: 18px;                       
  }  