/*All elements get this property*/
    * {
    padding:0px;
    margin: 0px;

    }

html, body {
                height: 100%;
}

body {
  background:url('../img/v3_bg.png') repeat-x left top;

  margin: 0;
 padding: 0;

}

img {
 vertical-align: middle;
  }

#header_large {
   height  : 140px;

   /*   
VEry nice :  #FFCC66
background-color: #FFCC66;
   */
  }

             #header_large #header_left {
                    padding: 25px 0px 0px 20px;
                    background:url('../img/getbriefed_logo_2.png') no-repeat;
                    width: 310px;
                    height: 105px;
                }
                
             
  #top_section {
     height  : 40px;
     
     margin-bottom: 10px;
     font-family: Lucida Grande, Verdana, Sans-serif;
     font-size: 14px;
  }

  #control_section {
    
  }

  #content_main {

  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 14px;
  color: #4F5155;
  width: 980px;

  padding-top: 20px;

      /* Height of the footer
 padding-bottom:15px;
      */

  }


 #center_section {

    float:left;
    width: 560px;
    margin-left: 10px;
  }

               #center_section .subsection_dot{
                 border:1px dotted;
              }
               #center_section .subsection{
                 border:0px none;
              }


  #sidebar {
      float:left;
      width:400px;
      margin-left: 10px;
     
 }
 #add_form {
   
 }


            #sidebar input, #add_form input{
                font: 20px/28px "Myriad Set", "Lucida Grande", Helvetica, Arial, sans-serif;
                color: #404048;

                 border:1px solid #ccc;
                 padding:5px;
            }
            #sidebar input:focus, #add_form input:focus{
                border:1px solid #38C;
            }

/* TO CLEAN UP BELOW */



 #point_list ul {list-style-image: url("../img/toolicons/arrow_right.png"); padding-left: 15px; }

  #briefing_section {
  border:1px  solid;
  font-size:12px;
  line-height:150%;


  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 2px;
  padding:1em;
  }

           #briefing_section ol {
           padding-left: 10px;

          }

          #briefing_section:hover {
          border:1px solid;

          }
          #briefing_section #footer {
          font-size:11px;
          }



          #briefing_section .gravatar {
          float:right;
          background:#fcfcfc;
          border:1px solid #ccc;
          padding:2px;
          margin:-18px -18px 4px 4px;
          }
                      #briefing_section .gravatar cite{
                     
                      padding-left: 10px;
                     
                      }



           #briefing_section .gtext {
          float:left;
          background:#f9f9f9;
          border:1px solid #ccc;
          padding:2px;
          margin:-18px -18px 4px 4px;
          }

dl.event
{
margin: 2em 0;
padding: 0;
font-family: georgia, times, serif;
}

.event dt
{
position: relative;
left: 0;
top: 1.1em;
width: 24px;
font-weight: bold;
}

.event dd
{
border-left: 1px solid #000;
margin: 0 0 0 6em;
padding: 0 0 .5em .5em;
}


/*    Styling for Project page    */



h4.nonbill {
  display: inline;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #229BDC;
  padding-right: 5px;
  padding-left: 5px;
}

h3.bill {
  display: inline;  
  font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #F63D1E;
  padding-right: 5px;
  padding-left: 5px;
}

 .hoursTxt{
   display: inline;  
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}





