@import "utility.css";

body {
    text-align: left;
    padding: 0px;
    font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif;
    color: #404048;
    margin: 10px;
    background-color: #e5e6e8;
}

/* @group WRAPPER */



#top_wrapper {
    width: 1013px;
    height: 9px;
    margin: 0px auto;
    margin-top: 20px;
    background: url(../img/kiosk/top.png) no-repeat;
}

#wrapper {
    width: 977px;
    margin: 0px auto;
    margin-top: -5px;
    background: url(../img/kiosk/middle.png) repeat-y;
    padding-left: 18px;
    padding-right: 18px;
}

#bot_wrapper {
    width: 1013px;
    margin: 0px auto;
    background: url(../img/kiosk/bottom.png) no-repeat;
    height: 13px;
}

/* @end */

/* @group TOP */

#top {
    width: 100%;
    height: 45px;
    margin: 0px auto;
    margin-top: 5px;
    padding-top: 19px;
    font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 5px;
    overflow: hidden;
}

#logo {
    background: url('../img/logo.gif') no-repeat;
    position: relative;
    top: 10px;
    right: -30px;
    width: 83px;
    height: 56px;
}

#top .store {
    color: #404048;
}

#top .app {
    padding-left: 12px;
    color: #404048;
}

/* @end */

/* @group MAIN */
/*
#main {
    background-color: #d2e78f;
    border: 1px solid #b2b2b2;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main-sidebar {
    background-color: #d2e78f;

    border: 1px solid #b2b2b2;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#content {
    float: right;
    height: 350px;
    width: 645px;
    background-color: #fce99f;

    padding: 20px 20px 10px;
    border-left: 1px solid #b2b2b2;
}

#content-full {
    height: 300px;
    width: 937px;
    padding: 20px 20px 10px;
    background-color: #fafafa;
}
*/

#navbuttons {
    width: 100%;
    height: 42px;
    margin: 0px auto;
    padding-bottom: 5px;
}
#navbuttons .back {
    background: url(../img/kiosk/arrow_back.png) no-repeat left;
    min-width: 100px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    text-decoration: none;
    text-indent: 40px;
}
#navbuttons .back:hover {
    background: url(../images/common/arrow_back_hover.png) no-repeat left;
    color: #232328;
}
#navbuttons .exit {
    background: url(../img/kiosk/cancel.png) no-repeat right;
    min-width: 80px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    text-decoration: none;
    text-indent: 40px;
    direction: rtl;
    margin-right: 2em;
}
#navbuttons .exit:hover {
    background: url(../images/common/cancel_hover.png) no-repeat right;
    color: #232328;
}
#navbuttons .next {
    background: url(../img/kiosk/arrow_next.png) no-repeat right;
    min-width: 80px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    text-decoration: none;
    text-indent: 40px;
    direction: rtl;
}
#navbuttons .next:hover {
    background: url(../images/common/arrow_next_hover.png) no-repeat right;
    color: #232328;
}

#navbuttons .confirm {
    background: url(../img/kiosk/arrow_next.png) no-repeat right;
    min-width: 100px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    text-decoration: none;
    text-indent: 40px;
    direction: rtl;
}


#navbuttons .confirm:hover {
    background: url(../images/common/arrow_next_hover.png) no-repeat right;
    color: #232328;
}
#navbuttons .left {
    float: left;
}

#navbuttons .right {
    float: right;
}

#navbuttons .right a {
    padding-left: 10px;
}

#buttons {
    width: 100%;
    height: 42px;
    margin: 0px auto;
}

#buttons .left {
    float: left;
}

#buttons .right {
    float: right;
}
/* @end */

/* @group BOTTOM */

#bottom {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    height: 45px;
}

#bottom .buttons {
    width: 833px;
    margin: 0px auto;
    text-align: center;
}

#bottom .left {
    float: left;
}

#bottom .right {
    float: right;
}

#bottom .viewedit {
    width: 300px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    background: url(../img/kiosk/check.png) no-repeat;
    text-decoration: none;
    text-indent: 40px;
}
#bottom .viewedit:hover {
    background: url(../images/common/check_hover.png) no-repeat;
    color: #232328;
    /*text-decoration: underline;*/
}
#bottom .pickup {
    min-width: 180px;
    height: 31px;
    cursor: pointer;
    float: left;
    position: relative;
    font: 16px/31px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    vertical-align: middle;
    color: #404048;
    background: url(../img/kiosk/pickup.png) no-repeat right;
    text-decoration: none;
    direction: rtl;
    text-indent: 40px;
}
#bottom .pickup:hover {
    background: url(../images/common/pickup_hover.png) no-repeat right;
    color: #232328;
    /*text-decoration: underline;*/
}

#bottom p {
    padding: 0;
    color: #404048;
    text-align: center;
}

/* @end */

/* @group SIDEBAR */
/*
#sidebar {
    width: 280px;
    min-height: 300px;

    background-color: white;


    height: 100%;
    float: left;
}
*/

#sidebar .title {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 70px 0 0;
    font: 32px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #404048;
}

#sidebar p {
    margin-left: 30px;
    margin-right: 30px;
    color: #404048;
    margin-top: 0;
    font: 15px Verdana, Arial, Helvetica, sans-serif;
}

#sidebar a {
    color: #404048;
}

/* @end */

/* @group GRAYFORM */

.grayform {
    padding: 20px;
    color: #404048;
    font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    border-right: 1px solid #b2b2b2;
    border-left: 1px solid #b2b2b2;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: none;

}

/* @end */




/* @group SIGNIN */

#signin {
    width: 591px;
    margin: 0px auto;
    margin-top: 40px;

}

#signin .grayform {
    border: 0;
    background: #DFCB7D;
    /*little section around the form with rounded corners see .grayform*/
}

#signin .middle {
    margin-top: 100px;
}

#signin p {
    margin-top: 0px;
    margin-bottom: 12px;
    padding: 0;
}

#signin a {
    margin-right: 14px;
}

#signin .text {
    font: 20px/28px "Myriad Set", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #404048;
    padding: 4px;
}


#signin input {
    font: 20px/28px "Myriad Set", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #404048;
    padding: 4px;
    width: 250px;
}

#signin .nopad {
    padding-top: 12px;
    padding-bottom: 0px;
    padding-left: 4px;
}

#signin .optional {
    color: #404048;
}

#signin .required {
    color: red;
    font-weight: bold;
}

#errorFirstName {
    color: red;
    font-weight: bold;
    font-size:10px
}

#errorLastName {
    color: red;
    font-weight: bold;
    font-size:10px
}

#errorPassword {
    color: red;
    font-weight: bold;
    font-size:10px
}






/* @end */

.info {
    color: #404048;
    font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
    text-align: left;
    margin: 0px auto;
    margin-bottom: 30px;
}

.info a {
    text-decoration:none;
    color:#529de1;
}

/* @group NONIEHACKS */

html>body #home .buttons {
    width: 416px;
    display: block;
    padding-bottom: 40px;
}

html>body #sidebar p {
    font: 15px/20px"Lucida Grande", Helvetica, Arial, sans-serif;
}

html>body #content {
    float: right;
    min-height: 350px;
    height: auto;
    width: 645px;
    background-color: #fce99f;
    /*original colour: fafafa*/
    padding: 20px 20px 10px;
}

html>body #content-full {
    min-height: 320px;
    height: auto;
    width: 937px;
    padding: 20px 20px 10px;
    background-color: #fafafa;
}

html>body #sidebar {
    width: 280px;
    min-height: 300px;
    background: #D2E78F;
      /*
        greenish light: D2E78F
        brownish light: F5C680
        original slight bluish : deeef9
        california light:  FCE99F
    */
    height: 100%;
    float: left;
}

html>body #main {
    background: #fafafa;
    border: 1px solid #b2b2b2;
    width: 100%;
    min-height: 300px;
    height: auto;
}

html>body #main-sidebar {
    background: #D2E78F;
    border: 1px solid #b2b2b2;
    width: 100%;
    min-height: 300px;
    height: auto;
}

html>body #home {
    float: right;
    min-height: 300px;
    height: auto;
    width: 645px;
    background-color: #fafafa;
}

html>body #topics .grayform {
    padding-left: 0px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
}

html>body #topics a {
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 10px;
}

html>body #topics .button {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 187px;
    height: 30px;
    color: #404048;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    background: url(../images/buttons/button.png) no-repeat;
}

html>body #topics .button-pressed {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 187px;
    height: 30px;
    color: #404048;
    text-decoration: none;
    text-align: center;
    padding-top: 11px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    background: url(../images/buttons/button-pressed.png) no-repeat;
}

html>body #topics .spacer {
    width: 40px;
    padding: 1px;
}
/* @end */