 <!--
    
    body
    {
        padding: 0;
        margin: 0;
       background-color: #d6e5f4;  
        color: #000;
        text-align: center;
        font: 1em "Lucida Grande", Lucida, Verdana, sans-serif;
    }
    
    #contents    
    {
        margin-top: 40px;
        margin-bottom: 10px;
        margin-right:auto;
        margin-left:auto;
        width: 600px;
        padding: 10px;
       background-color: #ffffff;

        color: #000;
        text-align: left;
    }
    
    #contents .link {
         font-size: 10px;  
         text-decoration: none;  
         color: #000000;  
         border: 1px solid #dddddd;  
         padding: 3px;  
         -moz-border-radius: 3px;    
    }
    
    #contents .link:hover {  
     font-size: 10px;  
     text-decoration: none;  
     color: #000000;  
     border: 1px solid #A7A7A7;  
     background-color: white;  
     padding: 3px;  
     -moz-border-radius: 3px;  
 }  
    
    #commentsResult 
    {
        height: 350px;
        
    }
    
    h1    
    {
        color: #333;
        background-color: transparent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    
    label
    {
        font-weight: bold;
    }
    
    /*  Styling for input field*/
       
    #inputArea
    {
        font-family: Arial, Sans-Serif;
        font-size: 13px;
        /*background-color: #d6e5f4; */
        padding: 10px;
        width:310px;
    }
    #inputArea input
    {
         font: 20px/28px "Myriad Set", "Lucida Grande", Helvetica, Arial, sans-serif; 
        margin-bottom: 5px;
        display: block;
        padding: 4px;
        width: 300px;
    }

        .activeField
        {
            background-image: none;
            background-color: #ffffff;
            border: solid 1px #33677F;
        }
         .activeField  textarea {
            padding: 5px;
          }
            
        .idle
        {
        border: solid 1px #85b1de;
        background-image: url( '../img/blue_bg.png' );
        background-repeat: repeat-x;
        background-position: top;
        }
       .hint { color: #A2B0BC; }

    
    
    /*
    the parent element of an autosuggest input should have a relative position
    */
    .asholder
    {
        position: relative;
    }
       #rating { padding-left : 10px; padding-right: 10px; background: #fff; width: 420px; }
    
   
     
    #rating textarea {   margin: 0; float: left; width: 300px; line-height: 2px;   border: 1px solid #777; padding: 10px; font: normal 1em Arial, sans-serif; }
     
                       
     


    
    -->