
  #briefing {
   background:url('../img/fade_gray.png') no-repeat;
   float: left;
   display: inline;
   width: 667px;
   height: 166px;
    margin-left: 23px;
    margin-bottom: 30px;
    overflow: hidden;

  }

  .commentFooter {
  font-size:11px;
  }




  #briefing #gtext {
     float:left;
  background:#fcfcfc;
  border:1px solid #ccc;
  padding:2px;

   margin-top: 0px;
    margin-right: -18px;
    margin-bottom: 4px;
    margin-left: 4px;

  }

  .gtext_preview_list{
      float:left;
      margin: 30px -10px 0px 0px;
  }
