

/* VERY COMMON things */

.rbcontent { 
    margin: 0 7px;
    font-family: Lucida Grande, Verdana, Sans-serif;
    font-size: 13px;
 }    



/* STYLE 1 */

/*f6e8b1 VERY light brownish with yellow box */

/* set millions of background images */
.light_rbroundbox { background: url('../img/boxes/light/nt.gif') repeat; }
.light_rbtop div { background: url('../img/boxes/light/tl.gif') no-repeat top left; }
.light_rbtop { background: url('../img/boxes/light/tr.gif') no-repeat top right; }
.light_rbbot div { background: url('../img/boxes/light/bl.gif') no-repeat bottom left; }
.light_rbbot { background: url('../img/boxes/light/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.light_rbtop div, .rbtop, .light_rbbot div, .light_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.light_rbroundbox { width: 100%;margin  : 1em auto; }


/* STYLE 1 END*/


/* STYLE 2 start */


.lightg_rbroundbox { background: url('../img/boxes/lightg/nt.gif') repeat; }
.lightg_rbtop div { background: url('../img/boxes/lightg/tl.gif') no-repeat top left; }
.lightg_rbtop { background: url('../img/boxes/lightg/tr.gif') no-repeat top right; }
.lightg_rbbot div { background: url('../img/boxes/lightg/bl.gif') no-repeat bottom left; }
.lightg_rbbot { background: url('../img/boxes/lightg/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.lightg_rbtop div, .rbtop, .lightg_rbbot div, .lightg_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.lightg_rbroundbox { width: 100%; margin: 1em auto; } 

/* STYLE END */



/* STYLE 3 start */


.grey_rbroundbox { background: url('../img/boxes/grey/nt.gif') repeat; }
.grey_rbtop div { background: url('../img/boxes/grey/tl.gif') no-repeat top left; }
.grey_rbtop { background: url('../img/boxes/grey/tr.gif') no-repeat top right; }
.grey_rbbot div { background: url('../img/boxes/grey/bl.gif') no-repeat bottom left; }
.grey_rbbot { background: url('../img/boxes/grey/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.grey_rbtop div, .rbtop, .grey_rbbot div, .grey_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.grey_rbroundbox { width: 100%; margin: 1em auto; } 

/* STYLE END */


/* STYLE 4 start */


.orange_rbroundbox { background: url('../img/boxes/orange/nt.gif') repeat; }
.orange_rbtop div { background: url('../img/boxes/orange/tl.gif') no-repeat top left; }
.orange_rbtop { background: url('../img/boxes/orange/tr.gif') no-repeat top right; }
.orange_rbbot div { background: url('../img/boxes/orange/bl.gif') no-repeat bottom left; }
.orange_rbbot { background: url('../img/boxes/orange/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.orange_rbtop div, .rbtop, .orange_rbbot div, .orange_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.orange_rbroundbox { width: 100%; margin: 1em auto; } 

/* STYLE END */


/* STYLE 5 start */


.lemorange_rbroundbox { background: url('../img/boxes/lemorange/nt.gif') repeat; }
.lemorange_rbtop div { background: url('../img/boxes/lemorange/tl.gif') no-repeat top left; }
.lemorange_rbtop { background: url('../img/boxes/lemorange/tr.gif') no-repeat top right; }
.lemorange_rbbot div { background: url('../img/boxes/lemorange/bl.gif') no-repeat bottom left; }
.lemorange_rbbot { background: url('../img/boxes/lemorange/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.lemorange_rbtop div, .rbtop, .lemorange_rbbot div, .lemorange_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.lemorange_rbroundbox { width: 100%; margin: 1em auto; } 

/* STYLE END */


/* STYLE 6 start */


.greenish_rbroundbox { background: url('../img/boxes/greenish/nt.gif') repeat; }
.greenish_rbtop div { background: url('../img/boxes/greenish/tl.gif') no-repeat top left; }
.greenish_rbtop { background: url('../img/boxes/greenish/tr.gif') no-repeat top right; }
.greenish_rbbot div { background: url('../img/boxes/greenish/bl.gif') no-repeat bottom left; }
.greenish_rbbot { background: url('../img/boxes/greenish/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.greenish_rbtop div, .rbtop, .greenish_rbbot div, .greenish_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}

.greenish_rbroundbox { width: 100%; margin: 1em auto; } 

/* STYLE END */

/* STYLE 7 start */


.lightblue_rbroundbox { background: url('../img/boxes/lightblue/nt.gif') repeat; }
.lightblue_rbtop div { background: url('../img/boxes/lightblue/tl.gif') no-repeat top left; }
.lightblue_rbtop { background: url('../img/boxes/lightblue/tr.gif') no-repeat top right; }
.lightblue_rbbot div { background: url('../img/boxes/lightblue/bl.gif') no-repeat bottom left; }
.lightblue_rbbot { background: url('../img/boxes/lightblue/br.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.lightblue_rbtop div, .rbtop, .lightblue_rbbot div, .lightblue_rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
 /*
   margin: 1em auto;
 
 */
.lightblue_rbroundbox { width: 100%; margin  : 1em auto; } 

/* STYLE END */
