.container_select{
    margin:0 auto;
    width:300px;
    padding:40px;
    text-align:left;
    background-color:#fff;
    
     font-size:80%;
    font-family:"Lucida Grande", Tahoma, sans-serif;
}
.container_select ul{
    text-align:center;
    margin:0 0 30px 0;
    list-style:none;
}
.container_select ul a{
    border:1px solid #eee;
    background-color:#f5f5f5;
    color:#444;
    font-size:1.5em;
    line-height:2em;
    padding:5px;
    margin:0 0 20px 0;
    display:block;
}
.container_select ul a:hover{
    border:1px solid #B5DF99;
    background-color:#CDEFB6;
    color:#358610;
}
.container_select p{
    margin:0 0 1em 0;
}
.container_select h3{
    text-align: center;
    padding-bottom:8px ;
}
.container_select a{
    color:green;
}
.container_select a img{
    border:none !important;
}  
