#newsticker {
/*yellowish: ffffaf*/
    background: #f6e8b1;
    position: relative;
}
#newsticker ul {
    border: 1px solid #fcf498;
    list-style: none;
    min-height: 1.6em;
    padding: 10px 15px;
    padding-right: 30px;
}
* html #newsticker ul {
    height: 1.6em;
    overflow: visible;
}
#newsticker li.error {
    color: #f00;
}
#newsticker #togglenewsticker {
    background: transparent url("../img/toolicons/icon_closenewsticker.gif") no-repeat 0 0;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 14px;
    height: 14px;
    text-indent: 20px;
    outline: none;
}
* html #newsticker #togglenewsticker {
    right: 30px;
}