#tooltip2 {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    width:260px;
    padding:5px 19px;
    background:#ffc;
    border:1px solid #ccc;
    z-index:3000;
    }

#tooltip2 h3 {
        font-size:125%;
         font-family: Lucida Grande, Verdana, Sans-serif;
    margin:.7em 0px;
    }
#tooltip2 p {
     font-family: Lucida Grande, Verdana, Sans-serif;
     font-size: 14px;
     margin:.7em 0px;
    }