/* @group UTILITY */
img    {
    border: 0;
}


form {
    margin-bottom: 0;
    margin-top: 0;
}

abbr, acronym, .help {
    border-bottom: 1px dotted #333;
    cursor: help;
    margin: 0;
    padding: 0;
}

.padded {
    padding: 4px;
}


.nopad {
    margin: 0px;
    padding: 0px;
}
    
.subHead {
    color: #76797C;
    font: 22px/30px "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
    margin-bottom: -18px;
    padding: 0;
    width: 800px;
    margin-top: 16px;
}

.clearer {
    clear: both; 
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* @end */

/* @group SIZING */

.text110 {
    width: 120px;
    font-size: x-small;
    margin-top: 3px;
    margin-bottom: 3px;
}


.width50 {
    width: 50px;
    font-size: x-small;
}

.width125 {
    width: 125px;
}

.width150 {
    width: 150px;
}

.width180 {
    width: 180px;
}

.width200 {
    width: 200px;
}
.width225 {
    width: 225px;
}
.width250 {
    width: 250px;
}
.width275 {
    width: 275px;
}
.width300 {
    width: 300px;
}

.width400 {
    width: 400px;
}

.width450 {
    width: 450px;
}

.width525 {
    width: 525px;
}

.width550 {
    width: 550px;
}

.width600 {
    width: 600px;
}

.width610 {
    width: 610px;
}

.percent25 {
    width: 25%;
}

.percent33 {
    width: 33%;
}


.percent50 {
    width: 50%;
}

.commentstext {
    color: #404048;
    height: 100px;
}

/* @end */



.bottomText{
    color: #59aed7;
    font-weight: bold;
    font-size:10px    
}
.centered {
    margin: 0px auto;
}

.hide {
    visibility: hidden;
    display: none;
}

.show {
    visibility: visible;
    display: block;
}