/*All elements get this property*/
    * {
    padding:0px;
    margin: 0px;

    }


#header_large {
   height  : 160px;
   width: 700px;
   float: left;
  }

         #header_large #header_left {

                background:url('../img/getbriefed_logo_1.png') no-repeat;
                width: 310px;
                height: 105px;                
            }
    
      #header_large #header_text {
                   width: 640px; 
                  color:#A07207; 
                  font-family: Monaco, Verdana, Sans-serif;
                 font-size: 14px;
                
              }   



  #content_main {
  background-color: #fff;

  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 14px;
  color: #4F5155;

  width: 700px;
  margin: 5px auto;

  }


  #sidebar {
      float:left;
      width:210px;

 }

  #center_section {
    float:left;
    width: 420px;
    margin-left: 10px;
  }




#container_green{
    width:210px;
    /*margin-bottom: 10px;     */
    margin  : 1em auto;

 }

#container_green .top{
   background:url('../img/side_green2_t.gif') no-repeat top right;
   height:140px;

}

#container_green .top p{
    padding: 0px 10px 5px 10px;
    display:block;
    color: #636363;
}

#container_green .top h3{

    margin:0px;
    padding: 10px 20px 5px 20px;

    display:block;
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 14px;
    color: #3d9928;
}
#container_green .footer{
    background:url('../img/side_green2_b.gif') no-repeat bottom;
    height:21px;
}


#container_blue{
 width:210px;
 margin  : 1em auto;
 }

 #container_blue .top{
   background:url('../img/side_blue1_t.gif') no-repeat top right;
   height:140px;

}
#container_blue .top p{
    padding: 0px 10px 5px 10px;
    display:block;
    color: #636363;
}
#container_blue .top h3{
    padding: 10px 20px 5px 20px;
    display:block;
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 14px;
    color: #3d9928;
}
#container_blue .footer{
    background:url('../img/side_blue1_b.gif') no-repeat bottom;
    height:21px;
}


#container_orange {

    width: 420px;
    background-color: #f90;
    color: #fff;
    margin  : 1em auto;

}

#container_orange p {
    margin: 0 10px;

}


#container_orange .roundtop {
    background: url('../img/general/tr.gif') no-repeat top right;
}

#container_orange .roundbottom {
    background: url('../img/general/br.gif') no-repeat top right;
}





#container_light_blue {

    width: 420px;
    background-color: #B8DFFE;

}

#container_light_blue p {

 margin:0px;
padding: 5px 20px 5px 5px;
display:block;
color: #125488;
}

#container_light_blue ul {
    margin:0px;
    padding: 5px 20px 5px 20px;

    display:block;
    color: #125488;
}

#container_light_blue h3 {
    margin:0px;
    padding: 5px 20px 5px 20px;

    display:block;
    font-family: Monaco, Verdana, Sans-serif;
    font-size: 14px;
    color: #3d9928;
}




#container_light_blue .roundtop {
    background: url('../img/general/bl_blue_rt.png') no-repeat top right;
}

#container_light_blue .roundbottom {
    background: url('../img/general/bl_blue_br.png') no-repeat top right;
}



img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}
